* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --secondary-text-color: #292b2e;
  --main-color: #5c9ce4;
}
@font-face {
  font-family: "Yekan";
  src: url(./assets/fonts/Yekan.ttf);
}
body {
  font-family: "Poppins";
  background-color: #599ce3;
}
